<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="wrapper">
        <!-- <a class="navbar-brand" href="#">LOGO HERE</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav  nav-pills nav-fill">
            <a class="nav-item nav-link disabled ml-3" href="#" tabindex="-1" aria-disabled="true">Lorem Ipsum</a>
            <a class="nav-item nav-link active ml-3"  style="background-color: #25597E" href="#">Lorem Ipsum</a>
            <a class="nav-item nav-link active ml-3" style="background-color: #25597E" href="#">Lorem Ipsum</a>

          </div>
          <!-- <div class="row bg-primary">
              <ul class="">
                  <li class="list-inline-item">Link1</li>
                  <li class="list-inline-item">Link2</li>
                  <li class="list-inline-item">Link3</li>
                </ul>
          </div> -->


        </div>
    </div>
  </nav>

