<section class="section-dark-blue pb-4 ">

  <div class="row wrapper p-2 container">
    <div class="d-flex justify-content-end">
      <a href="#" d-inline>Link 1</a>
      <a href="#" d-inline>Link 2</a>
      <a href="#" d-inline>Link 3</a>
    </div>
  </div>


  <div class="row wrapper">
    <!-- two cads col -->
    <div class="col col-12 col-sm-12 col-md-8 pl-0 pt-0 pb-2 column">
      <div class="slider-holder r-padding">SLIDER</div>
    </div>

    <div class="col col-12 col-md-4 col-sm-12 pl-0 pr-0 pb-2">
      <div class="card-text-holder l-padding" style="height: 100px">TEXT</div>
    </div>
    <!-- end of two cads col -->
  </div>

</section>
