<section class="section-dark-blue pb-4 ">

  <div class="row wrapper py-2">
    <div class="d-flex justify-content-end">
      <a href="#" d-inline>Link 1</a>
      <a href="#" d-inline>Link 2</a>
      <a href="#" d-inline>Link 3</a>
    </div>
  </div>


  <div class="row wrapper  equal-cols">
    <!-- two cads col -->
    <div class="col col-12 col-sm-12 col-md-8 pl-0 pt-0 pb-2 column">
      <div class="slider-holder r-padding">

        <!-- <img class="d-block w-100" src="https://dummyimage.com/300X160/3dd191/b35bb3.png"

        <img class="d-block w-100" src="https://dummyimage.com/300X160/e653e6/b35bb3.png"

        <img class="d-block w-100" src="https://dummyimage.com/300X160/e6c719/b35bb3.png"

     -->

     <carousel>
        <slide>
          <img src="https://dummyimage.com/300X160/3dd191/b35bb3.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="https://dummyimage.com/300X160/e653e6/b35bb3.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="https://dummyimage.com/300X160/e6c719/b35bb3.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>

      </div>
    </div>

    <div class="col col-12 col-md-4 col-sm-12 pl-0 pr-0 pb-2">
      <div class="card-text-holder l-padding">
        <div class="text-holder px-4 py-2 text-center">
          <small>
            <h5 class="card-text-header">Lorem Ipsum Lorem</h5>
          </small>
          <p class="card-text">Fusce metus nulla, congue nec sem a, viverra semper lacus. Vestibulum ipsum tellus.</p>
          <small>
            <h5 class="card-text-header">Lorem Ipsum Lorem</h5>
          </small>
          <p class="card-text">Fusce metus nulla, congue nec sem a, viverra semper lacus. Vestibulum ipsum tellus.</p>

        </div>
      </div>
    </div>
    <!-- end of two cads col -->
  </div>

</section>
