<!-- Footer -->
<footer class="page-footer font-small">

  <div class="bg-light">
    <div class="container wrapper">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col p-0 ml-2 mr-2">


          <div class="row bg-light">

            <form class="form-inline" style="width: 100%">

              <div class="col col-12 col-sm12 col-md-6 lg-6 p-0 m-0 d-flex justify-content-end">
                <h6 class="d-inline pr-2 text-muted pt-2 ml-4 form-text" for="inlineFormInputName2">Subscribe for news</h6>
                <input type="text" class="form-control mr-0 pr-0 ml-0 pr-0 mb-2 input-md input-custom"
                  id="inlineFormInputName2" placeholder="Name">
              </div>
              <div class="col col-12 col-sm-12 col-md-6 lg-6 p-0 m-0 d-flex justify-content-end">
                  <input type="text" class="form-control mr-0 pr-0 ml-0 pr-0 mb-2 input-md input-custom"
                  id="inlineFormInputGroupUsername2" placeholder="E-mail address">
                <button type="submit"  style="background-color: #25597E" class="btn mb-2 ml-4 mr-1 text-white button-input">Subscribe</button>
                </div>
            </form>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>
  <div class="footer-section-blue text-white pt-4 pb-3">
    <div class="wrapper pb-2 pt-2">
      <h6 class="p-0 m-0">
        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</small>
      </h6>
      <h6 class="p-0 m-0">
        <small>tempor incididunt ut labore et dolore magna aliqua.</small>
      </h6>
    </div>

  </div>
  <div class="separator bg-info p-0 m-0"></div>
  <!-- Footer Links -->
  <div class="text-left text-md-left mt-5 footer-section-dark pb-4">

    <!-- Grid row -->
    <div class="row mt-3 text-white wrapper">
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 col-4 col-sm-4 col-4 mx-auto mb-4 d-flex justify-content-between">
        <a class="font-weight-bold">Link1</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 col-4 col-sm-4 col-4 mx-auto mb-4 d-flex justify-content-between">
        <a class="font-weight-bold">Link2</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 col-4 col-sm-4 col-4 mx-auto mb-4 d-flex justify-content-between">
        <a class="font-weight-bold">Link3</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 col-4col-sm-4 col-4 mx-auto mb-4 d-flex justify-content-between">
        <a class="font-weight-bold">Link4</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 col-4col-sm-4 col-4 mx-auto mb-4 d-flex justify-content-between">
        <a class="font-weight-bold">Link5</a>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 col-4 col-sm-4 col-4 mx-auto mb-4 d-flex justify-content-between">
        <a class="font-weight-bold">Link6</a>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <div class="row footer-section-dark2 wrapper">
      <small class="row text-white txt-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</small>
    </div>


  </div>

</footer>
<!-- Footer -->
