<section class="bg-light pb-4">

  <div class="section-wrapper">
    <!-- <div class="row wrapper pt-4 pb-3"> -->
      <!-- two cads col -->
      <!-- <div class="col col-12 col-md-6 col-sm-12  pt-0 pb-2  column">
        <div class="card-holder r-padding">CARD1</div>
      </div>

      <div class="col col-12 col-md-6 col-sm-12  pb-2  column">
        <div class="card-holder l-padding">CARD2</div>
      </div> -->
      <!-- end of two cads col -->
    <!-- </div> -->

    <!-- Second row cards -->
    <div class="row wrapper pt-4 pb-3">
      <!-- <h6 style="width:100%; display:block" class="mt-0">Lorem Ipsum Lorem Ipsum</h6> -->

      <!-- <div class="col col-12 col-sm-12 col-md-12 column">
        <div class="row row-style-left row-full-size">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-3 column">
            <div class="card-holder border border-light r-padding mb-2">CARD3</div>
          </div>

          <div class="col col-12 col-sm-12 col-md-6 col-lg-3 column">
            <div class="card-holder border border-light l-padding lg-space-r mb-2">CARD4</div>
          </div>

          <div class="col col-12 col-sm-12 col-md-6 col-lg-3 column">
            <div class="card-holder border border-light r-padding lg-space-l mb-2">CARD5</div>
          </div>

          <div class="col col-12 col-sm-12 col-md-6 col-lg-3 column">
            <div class="card-holder border border-light l-padding mb-2">CARD6</div>
          </div>
        </div>
      </div> -->


      <!-- https://dummyimage.com/262x160/e0d9e0/444edb&text=card+img -->


      <!-- <div class="container"> -->
          <div class="card-deck">
            <div class="card mb-4">
              <div class="card-body text-center px-4 pt-4 pb-3">
                <p class="card-title text-nowrap mb-2 font-weight-bold" style="line-height:75%;"><small
                    class="font-weight-bold">LOREM
                    IPSUM LOREM</small></p>
                <p class="card-text mb-0" style="font-size: small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-primary btn-block mt-4 pb-2" style="background-color: #25597E"><small>LOREM
                    IPSUM</small></button>
              </div>
            </div>
            <div class="w-100  d-none  d-sm-block d-md-none d-lg-none">
            </div>
            <div class="card mb-4">
                <div class="card-body text-center px-4 pt-4 pb-3">
                    <p class="card-title text-nowrap mb-2 font-weight-bold" style="line-height:75%;"><small
                        class="font-weight-bold">LOREM
                        IPSUM LOREM</small></p>
                    <p class="card-text mb-0" style="font-size: small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button class="btn btn-primary btn-block mt-4 pb-2" style="background-color: #25597E"><small>LOREM
                        IPSUM</small></button>
                  </div>
            </div>

          </div>
        <!-- </div> -->

<!-- 4-cards container-->
      <!-- <div class="container"> -->
        <div class="card-deck">
            <h6 style="width:100%; display:block" class="mt-0 mb-3 ml-3">Lorem Ipsum Lorem Ipsum</h6>
          <div class="card mb-4">
            <div class="card-body text-center p-2">
              <p class="card-title text-nowrap mb-0 font-weight-bold" style="font-size: small; line-height:75%;"><small
                  class="font-weight-bold">LOREM
                  IPSUM</small></p>
              <p class="card-title text-nowrap mb-0" style="font-size: small"><small>EXAMPLE TEXT</small></p>
              <img class="card-img img-fluid" src="//placehold.it/250x150" alt="Card image cap">
              <button class="btn btn-primary btn-block mt-2 pb-2" style="background-color: #25597E"><small>LOREM
                  IPSUM</small></button>
            </div>
          </div>
          <div class="w-100  d-none  d-sm-block d-md-none d-lg-none">
          </div>
          <div class="card mb-4">
            <div class="card-body text-center p-2">
              <p class="card-title text-nowrap mb-0 font-weight-bold" style="font-size: small; line-height:75%;"><small
                  class="font-weight-bold">LOREM
                  IPSUM</small></p>
              <p class="card-title text-nowrap mb-0" style="font-size: small"><small>EXAMPLE TEXT</small></p>
              <img class="card-img img-fluid" src="//placehold.it/250x150" alt="Card image cap">
              <button class="btn btn-primary btn-block mt-2 pb-2" style="background-color: #25597E"><small>LOREM
                  IPSUM</small></button>
            </div>
          </div>
          <div class="w-100  w-xs-150 d-none d-xs-block d-sm-block d-lg-none">
          </div>
          <div class="card mb-4">
            <div class="card-body text-center p-2">
              <p class="card-title text-nowrap mb-0 font-weight-bold" style="font-size: small; line-height:75%;"><small
                  class="font-weight-bold">LOREM
                  IPSUM</small></p>
              <p class="card-title text-nowrap mb-0" style="font-size: small"><small>EXAMPLE TEXT</small></p>
              <img class="card-img img-fluid" src="//placehold.it/250x150" alt="Card image cap">
              <button class="btn btn-primary btn-block mt-2 pb-2" style="background-color: #25597E"><small>LOREM
                  IPSUM</small></button>
            </div>
          </div>
          <div class="w-100  d-none  d-sm-block d-md-none d-lg-none">
          </div>
          <div class="card mb-4">
            <div class="card-body text-center p-2">
              <p class="card-title text-nowrap mb-0 font-weight-bold" style="font-size: small; line-height:75%;"><small
                  class="font-weight-bold">LOREM
                  IPSUM</small></p>
              <p class="card-title text-nowrap mb-0" style="font-size: small"><small>EXAMPLE TEXT</small></p>
              <img class="card-img img-fluid" src="//placehold.it/250x150" alt="Card image cap">
              <button class="btn btn-primary btn-block mt-2 pb-2" style="background-color: #25597E"><small>LOREM
                  IPSUM</small></button>
            </div>
          </div>

        </div>
      <!-- </div> -->
<!-- END 4-cards container-->
      <div class="pt-4" style="width:100%; margin:0 auto; text-align: center">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn dropdown-toggle text-white"
            style="line-height:100%; background-color: #F37714;">
            <small class="px-4">LOREM IPSUM</small><span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
