<section class="bg-light pb-4">

  <div class="section-wrapper">

    <div class="row wrapper cards-row pt-4 pb-3">

      <!-- https://dummyimage.com/262x160/e0d9e0/444edb&text=card+img -->

      <!-- 2 cards -->
          <div class="card-deck">
            <div class="card mb-4">
              <div class="card-body text-center px-4 pt-4 pb-3">
                <p class="card-title text-nowrap mb-2 font-weight-bold" style="line-height:75%;"><small
                    class="font-weight-bold">LOREM
                    IPSUM LOREM</small></p>
                <p class="card-text mb-0" style="font-size: small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-primary btn-block mt-4 pb-2 w-50 mx-auto" style="background-color: #25597E"><small>LOREM
                    IPSUM</small></button>
              </div>
            </div>
            <div class="w-100  d-none  d-sm-block d-md-none d-lg-none">
            </div>
            <div class="card mb-4">
                <div class="card-body text-center px-4 pt-4 pb-3">
                    <p class="card-title text-nowrap mb-2 font-weight-bold" style="line-height:75%;"><small
                        class="font-weight-bold">LOREM
                        IPSUM LOREM</small></p>
                    <p class="card-text mb-0" style="font-size: small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button class="btn btn-primary btn-block mt-4 pb-2 w-50 mx-auto" style="background-color: #25597E"><small>LOREM
                        IPSUM</small></button>
                  </div>
            </div>

          </div>
        <!-- end-2-cards -->

<!-- 4-cards-->

        <div class="card-deck w-100 mx-0">
            <h6 style="width:100%; display:block" class="mt-0 mb-3 ml-3">Lorem Ipsum Lorem Ipsum</h6>
          <div class="card mb-4 mx-sm-0 mr-md-2">
            <div class="card-body text-center p-2">
              <p class="card-title text-nowrap mb-0 font-weight-bold" style="font-size: small; line-height:75%;"><small
                  class="font-weight-bold">LOREM
                  IPSUM</small></p>
              <p class="card-title text-nowrap mb-0" style="font-size: small"><small>EXAMPLE TEXT</small></p>
              <img class="card-img img-fluid" src="//placehold.it/250x150" alt="Card image cap">
              <button class="btn btn-primary btn-block mt-2 pb-2" style="background-color: #25597E"><small>LOREM
                  IPSUM</small></button>
            </div>
          </div>
          <div class="w-100  d-none  d-xs-block d-sm-block d-md-none d-lg-none">
          </div>
          <div class="card mb-4 mx-sm-0 ml-md-3 mr-lg-3">
            <div class="card-body text-center p-2">
              <p class="card-title text-nowrap mb-0 font-weight-bold" style="font-size: small; line-height:75%;"><small
                  class="font-weight-bold">LOREM
                  IPSUM</small></p>
              <p class="card-title text-nowrap mb-0" style="font-size: small"><small>EXAMPLE TEXT</small></p>
              <img class="card-img img-fluid" src="//placehold.it/250x150" alt="Card image cap">
              <button class="btn btn-primary btn-block mt-2 pb-2" style="background-color: #25597E"><small>LOREM
                  IPSUM</small></button>
            </div>
          </div>
          <div class="w-100  w-xs-150 d-none d-xs-block d-sm-block d-lg-none">
          </div>
          <div class="card mb-4 mx-sm-0 mr-md-3 ml-lg-3">
            <div class="card-body text-center p-2">
              <p class="card-title text-nowrap mb-0 font-weight-bold" style="font-size: small; line-height:75%;"><small
                  class="font-weight-bold">LOREM
                  IPSUM</small></p>
              <p class="card-title text-nowrap mb-0" style="font-size: small"><small>EXAMPLE TEXT</small></p>
              <img class="card-img img-fluid" src="//placehold.it/250x150" alt="Card image cap">
              <button class="btn btn-primary btn-block mt-2 pb-2" style="background-color: #25597E"><small>LOREM
                  IPSUM</small></button>
            </div>
          </div>
          <div class="w-100 d-none d-sm-block d-md-none d-lg-none">
          </div>
          <div class="card mb-4 mx-sm-0 ml-md-3">
            <div class="card-body text-center p-2">
              <p class="card-title text-nowrap mb-0 font-weight-bold" style="font-size: small; line-height:75%;"><small
                  class="font-weight-bold">LOREM
                  IPSUM</small></p>
              <p class="card-title text-nowrap mb-0" style="font-size: small"><small>EXAMPLE TEXT</small></p>
              <img class="card-img img-fluid" src="//placehold.it/250x150" alt="Card image cap">
              <button class="btn btn-primary btn-block mt-2 pb-2" style="background-color: #25597E"><small>LOREM
                  IPSUM</small></button>
            </div>
          </div>

        </div>
<!-- END 4-cards -->

      <div class="pt-2 pb-2" style="width:100%; margin:0 auto; text-align: center">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn dropdown-toggle text-white"
            style="line-height:80%; background-color: #F37714;">
            <small class="px-4">LOREM IPSUM</small><span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
