<section class="bg-light pb-4">


  <div class="section-wrapper">
    <div class="row wrapper pt-4 pb-3">
      <!-- two cads col -->
      <div class="col col-12 col-md-6 col-sm-12  pt-0 pb-2  column">
        <div class="card-holder r-padding">CARD1</div>
      </div>

      <div class="col col-12 col-md-6 col-sm-12  pb-2  column">
        <div class="card-holder l-padding">CARD2</div>
      </div>
      <!-- end of two cads col -->
    </div>

    <!-- Second row cards -->
    <div class="row wrapper pt-4 pb-3">
      <h6 style="width:100%; display:block" class="mt-0">Lorem Ipsum Lorem Ipsum</h6>

      <div class="col col-12 col-sm-12 col-md-12 column">
        <div class="row row-style-left row-full-size">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-3 column">
            <div class="card-holder border border-light r-padding mb-2">CARD3</div>
          </div>

          <div class="col col-12 col-sm-12 col-md-6 col-lg-3 column">
            <div class="card-holder border border-light l-padding lg-space-r mb-2">CARD4</div>
          </div>


          <div class="col col-12 col-sm-12 col-md-6 col-lg-3 column">
            <div class="card-holder border border-light r-padding lg-space-l mb-2">CARD5</div>
          </div>

          <div class="col col-12 col-sm-12 col-md-6 col-lg-3 column">
            <div class="card-holder border border-light l-padding mb-2">CARD6</div>
          </div>
        </div>
      </div>


      <div class="pt-4" style="width:100%; margin:0 auto; text-align: center">
        <button class="btn btn-warning button-input text-white" style="width:100px;">Button</button>
      </div>
    </div>
    <!-- END Second row cards -->
  </div>
</section>
